footer {
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: "Lexend", sans-serif;
}

footer a {
  color: #f2f2f2;
  text-decoration: none;
  margin: 0 10px;
}

/* Hover effect for footer links */
footer a:hover {
  color: #ddd;
}

footer p {
  margin: 0;
  color: wheat;
}

footer .link-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 50px;
}

footer .link-container a {
  color: #e5e7eb;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .link-container a:hover {
  color: rgb(231, 43, 43);
}

/* Ensure main content has enough space at the bottom */
main {
  padding-bottom: 80px; /* Add padding to the bottom of the main content */
}
