header {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: wheat;
  height: auto;
  width: 100%;
  color: black;

  margin-top: 1px; /* Adjust this value as needed */
}
