/* styles/lottie.css */
.dotlottie-player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: transparent;
    margin-top: 100px;
    margin-bottom: 200px;
    border-radius: 1%;
    border-color: transparent;
    border-style: hidden;
}
.dotlottie-button{
    background: transparent;
    border: transparent;
}