/* styles/navbar.css */
.nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center items */
  padding: 14px 16px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; /* Ensure it starts from the left edge */
  right: 0; /* Ensure it ends at the right edge */
  z-index: 1000;
  font-family: "Lexend", sans-serif;
  box-sizing: border-box; /* Ensure padding doesn't affect layout width */
}

.nav-link {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: inline-block;
  font-size: 15px; /* Between small and medium */
}

.nav-link:hover {
  background-color: wheat;
  color: #000000;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center; /* Vertically center items */
}

.nav-title {
  position: absolute; /* Position the title in the center of the navbar */
  left: 50%; /* Position the left edge of the title at the center of the navbar */
  transform: translateX(
    -50%
  ); /* Adjust the position to truly center the title */
  color: wheat;
  font-weight: 900;
  font-size: xx-large;
  padding-top: 4px;
  flex-grow: 1; /* Allow title to take up available space */
}

.nav-right {
  justify-content: flex-end; /* Align right-side links to the right */
}

.nav-left .nav-link {
  margin-right: 16px; /* Space between left links */
}

.nav-right .nav-link {
  margin-left: 16px; /* Space between right links */
}
