.recipe-container {
  //padding: 1%;
  //border: 1px hidden;
  //text-align: start;
  background-color: #201f1f;
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre items horizontally */
  width: 100%;
}

.recipe-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-title {
  text-align: center;
  font-size: 1.75em;
  text-transform: uppercase;
}
.recipe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.recipe-ingredients h2 {
  text-align: center;
  margin-top: 40px;
}

.recipe-instructions {
  text-align: center;
  margin-top: 40px;
}

.recipe-prep-time {
  text-align: center;
  align-items: center;
}

.recipe-image {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  margin: 20px 0; /* Optional: Add some margin for spacing */
}
